.editImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.JumbBiPencilDiv {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.JumbBiPencilDiv:hover,
.JumbBiPencilDiv:active {
  background-color: #d9d9d9;
}
.JumbBiPencil {
  color: #666;
}
.JumbBiPencilDiv:hover .JumbBiPencil,
.JumbBiPencilDiv:active .JumbBiPencil {
  color: black;
}

.editProfileModal .modal-dialog {
  max-width: 700px;
  border-radius: 16px;
}
.editProfileModal .form-label {
  color: grey;
}
.editProfileModal .form-control-sm,
.editProfileModal .form-control {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.editProfileModal .form-control-sm:focus,
.editProfileModal .form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.confirmDialog .modal-dialog {
  display: flex;
  max-width: 330px;
  justify-content: center;
  align-self: center;
  border-radius: 16px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
