.homeDiv {
  background-color: #f3f2ef;
}
.HomeCont {
  padding-top: 100px;
  width: 800px;
}
.postImage {
  height: 300px;
  object-fit: cover;
}
.HomeModal {
  display: flex;
  justify-content: left;
}
.logoutbtn {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  transition: all 1s ease;
}
.logoutbtn:hover {
  background-color: rgba(141, 35, 35, 0.377);
}
.crdTxtH {
  text-align: center;
  height: 100px;
}
.wlcmP {
  padding-top: 30px;
}
