@media only screen and (min-width: 0px) {
  .rowm {
    margin-left: 0;
    margin-right: 0;
  }
  .bgBody {
    overflow: hidden !important;
  }
}
@media only screen and (min-width: 992px) {
}
.mainBody {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
}
.infobody {
  font-size: 11pt;
}
.cardImg {
  max-height: 200px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.bgBody {
  background-color: #f3f2ef;
}
.cardProf {
  width: 800px;
  margin-left: -10px;
  border-radius: 8px;
}
.usrnTxt {
  font-size: 1.45rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.roletext {
  font-size: 1.2rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.areaTxt {
  font-size: 1rem;
  font-weight: 300 !important;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 9px;
}
a {
  text-decoration: none;
}

#dropdown-basic-button {
  border-radius: 50px !important;
  max-height: 20px;
  padding-bottom: 24px;
  background-color: rgb(10, 102, 194);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  width: 200px;
}
#dropdown-basic-button:hover {
  background-color: rgb(9, 68, 128);
}
.btnMore {
  border-radius: 50px !important;
  background-color: transparent;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  color: grey;
}
.btnBox {
  display: flex;
  flex-direction: row;
  position: relative;
  right: -51px;
  top: 16px;
}
.info {
  font-size: 1.3rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  padding-top: 10px;
  padding-bottom: 1vw;
}
