.ad-div {
  border-radius: 10px;
  background-color: #ffffff;
  height: 260px;
  width: 320px;
  border-style: solid;
  border-width: 0.1vw;
  border-color: lightgray;
  display: flex;
  justify-content: center;
}

.ad {
  display: block;
  margin: auto;
  height: 95%;
  width: 96%;
}

.divTitle {
  margin-top: -8px !important;
  font-size: 1.45rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}

.userimg {
  cursor: pointer;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-right: 7px;
  margin-left: 20px;
}
.usersp {
  color: black;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}
.usersp:hover {
  text-decoration-line: underline;
}
.sugUsers {
  margin: 0;
  color: black;
}
.sugUsers:hover {
  color: rgb(27, 115, 216);
}
.usersh1:hover {
  color: rgb(9, 85, 172);
  text-decoration-line: underline;
  cursor: pointer;
}
small {
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  margin: 0;
}
.hrside {
  width: 246px !important;
}
.usersDiv {
  padding-top: 30px !important;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 320px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 0.1vw;
  border-color: lightgray;
}
.userdiv2 {
  background-color: transparent;
  white-space: nowrap;
}

.buttonS {
  border-radius: 500px;
}
.lrn-div {
  padding: 15px;
  width: 320px;
  border-style: solid;
  border-width: 0.1vw;
  border-color: lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;
}
.lrn-h6 {
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  margin-left: 2px;
  letter-spacing: 2px;
}
.lrn-h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.vid-img {
  height: 60px;
  cursor: pointer;
}
.vid-txt {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 10px;
}
.vid-txt:hover {
  text-decoration: underline;
  cursor: pointer;
}
.vid-sml {
  margin-left: 10px;
}

.ranking { 
  color: grey
}
